* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
main {
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border: 2px solid black;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;

  .card__one {
    background-color: #e28525;
  }
}
