* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
main {
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border: 2px solid black;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  padding: 20px;

  .card_one {
    background-color: #e28525;
  }
  .card_two {
    background-color: #016972;
  }
  .card_three {
    background-color: #00403f;
  }
}
