* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
main {
  height: 98vh;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 60%;
}
