* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.container {
  margin: 100px;
  height: 98vh;
}

.heading {
  padding: 30px 0;
}

.card {
  display: flex;
}

.col-1,
.col-2,
.col-2-top,
.col-2-bottom,
.col-3 {
  box-shadow: 5px 5px 2x black;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
