* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //   overflow: hidden;
  font-family: "Be Vietnam Pro", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
a {
  text-decoration: none;
  color: #000;
}

.row {
  display: flex;
  justify-content: space-between;
  .col-md-6 {
    width: 50%;
    height: auto;
  }
}

//=====================
header {
  .navbar {
    display: flex;
    padding: 4rem 13rem;
    align-items: center;
    justify-content: space-between; //important !

    .nav {
      display: flex;
      margin: 0 2rem;
      .nav-item {
        margin: 0 1rem;
        justify-items: end;
        list-style-type: none;
        .nav-link {
          margin: 0 auto 0 auto;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.623);
          &:hover {
            color: #000;
          }
        }
      }
    }
  }

  .get-start {
    .btn {
      padding: 15px 25px;
      outline: none;
      border: none;
      border-radius: 22px;
      background-color: rgb(252, 59, 59);
      cursor: pointer;

      a {
        color: #fff;
        font-weight: 500;
        font-size: 1rem;
      }
    }
  }
  .header-content {
    padding: 2rem 13rem;
    h1 {
      padding-top: 4rem;
      font-size: 4rem;
    }
    p {
      font-size: 1rem;
      padding: 2rem 0;
      color: rgba(0, 0, 0, 0.527);
      line-height: 1.5;
    }
    .btn {
      margin: 2rem 0;
    }
  }
}
#info {
  padding: 2rem 12rem;
  h1 {
    font-size: 3rem;
    padding: 2rem 0;
  }
  p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.603);
  }
  .info {
    padding: 2rem 0;
    h3 {
      display: inline;
      font-size: 2rem;
      padding: 2rem 0;
    }
    span {
      font-size: 1.7rem;
      padding: 2rem 0;
      font-weight: 700;
      background-color: coral;
      color: #fff;
      padding: 7px 17px;
      margin: 0 1rem;
      border-radius: 20px;
    }
    p {
      padding: 1rem 0;
      margin-left: 7rem;
    }
  }
}

// footer======
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
