@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //   overflow: hidden;
  font-family: "Be Vietnam Pro", sans-serif;
}
html {
  background-image: repeating-radial-gradient(
      circle at center center,
      transparent 0px,
      transparent 2px,
      rgba(0, 0, 0, 0.03) 2px,
      rgba(0, 0, 0, 0.03) 3px,
      transparent 3px,
      transparent 5px,
      rgba(0, 0, 0, 0.03) 5px,
      rgba(0, 0, 0, 0.03) 7px
    ),
    repeating-radial-gradient(
      circle at center center,
      rgb(255, 255, 255) 0px,
      rgb(255, 255, 255) 9px,
      rgb(255, 255, 255) 9px,
      rgb(255, 255, 255) 21px,
      rgb(255, 255, 255) 21px,
      rgb(255, 255, 255) 31px,
      rgb(255, 255, 255) 31px,
      rgb(255, 255, 255) 40px
    );
  background-size: 20px 20px;
}
a {
  text-decoration: none;
  color: #000;
}

.row {
  display: flex;
  justify-content: space-between;
  .col-md-6 {
    width: 50%;
    height: auto;
  }
}
.get-start {
  .btn {
    padding: 15px 25px;
    outline: none;
    border: none;
    border-radius: 22px;
    background-color: rgb(252, 59, 59);
    cursor: pointer;

    a {
      color: #fff;
      font-weight: 500;
      font-size: 1rem;
    }
  }
}
//=====================
header {
  .navbar {
    display: flex;
    padding: 4rem 13rem;
    align-items: center;
    justify-content: space-between; //important !

    .nav {
      display: flex;
      margin: 0 2rem;
      .nav-item {
        margin: 0 1rem;
        justify-items: end;
        list-style-type: none;
        .nav-link {
          margin: 0 auto 0 auto;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.623);
          &:hover {
            color: #000;
          }
        }
      }
    }
  }

  .header-content {
    padding: 2rem 13rem;
    h1 {
      padding-top: 4rem;
      font-size: 4rem;
    }
    p {
      font-size: 1rem;
      padding: 2rem 0;
      color: rgba(0, 0, 0, 0.527);
      line-height: 1.5;
    }
    .btn {
      margin: 2rem 0;
    }
  }
}
#info {
  padding: 2rem 12rem;
  h1 {
    font-size: 3rem;
    padding: 2rem 0;
  }
  p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.603);
  }
  .info {
    padding: 2rem 0;
    h3 {
      display: inline;
      font-size: 1.5rem;
      padding: 2rem 0;
    }
    span {
      font-size: 1.3rem;
      padding: 2rem 0;
      font-weight: 700;
      background-color: coral;
      color: #fff;
      padding: 7px 17px;
      margin: 0 2rem;
      border-radius: 20px;
    }
    p {
      padding: 1rem 0;
      margin-left: 8rem;
      font-size: 1.2rem;
      line-height: 1.7;
    }
  }
}

#comment {
  margin: 7rem 0;
  h1 {
    text-align: center;
    font-size: 3rem;
    padding: 4rem;
    margin: 2rem 0;
  }
  .row {
    margin: 2rem 0;
  }
  .card {
    background-color: rgba(139, 166, 167, 0.103);
    margin: 1rem;
    text-align: center;
    border-radius: 15px;
    img {
      max-width: 15%;
      min-width: 10%;
      height: auto;
      margin-top: -42px;
    }
    h2 {
      font-size: 1.2rem;
      margin: 0.9rem;
    }
    p {
      color: rgba(0, 0, 0, 0.548);
      padding: 0 4rem 2rem 4rem;
      padding-bottom: 4rem;
    }
  }
  .get-start {
    text-align: center;
    .btn:hover {
      background-color: rgb(255, 116, 92);
      color: #fff;
      box-shadow: 1px 50px 34px -47px rgba(0, 0, 0, 0.68);
      -webkit-box-shadow: 1px 50px 34px -47px rgba(0, 0, 0, 0.68);
      -moz-box-shadow: 1px 50px 34px -47px rgba(0, 0, 0, 0.68);
    }
  }
}

.team-work {
  padding: 4rem 12rem;
  background-color: rgba(255, 0, 0, 0.678);
  color: #fff;
  .row {
    align-items: center;
    h1 {
      font-size: 3rem;
    }
    .btn {
      margin: auto 0 auto auto;
      background-color: rgba(0, 0, 0, 0.185);
    }
  }
}
// footer======
footer {
  background-color: #1e1e26;
  color: #fff;
  padding: 4rem 12rem;
  input {
    outline: none;
    padding: 1rem;
    border: none;
    border-radius: 25px;
  }
  label {
    background-color: rgba(255, 0, 0, 0.678);
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
  }
  p {
    padding-top: 2rem;
  }
  img {
    fill: #fff;
  }
  .icons {
    padding: 2rem 0;
    i {
      margin-right: 1rem;
      font-size: 1.5rem;
      cursor: pointer;
    }
    .fa-facebook-f {
      &:hover {
        color: rgb(61, 61, 255);
      }
    }
    .fa-youtube {
      &:hover {
        color: rgb(255, 25, 25);
      }
    }
    .fa-facebook-f {
      &:hover {
        color: rgb(61, 61, 255);
      }
    }
    .fa-twitter {
      &:hover {
        color: rgb(0, 174, 255);
      }
    }
    .fa-pinterest {
      &:hover {
        color: rgb(255, 0, 242);
      }
    }
    .fa-instagram {
      &:hover {
        color: rgb(61, 61, 255);
      }
    }
  }
}
//==================
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
