* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: #000;
}
header {
  .navbar {
    display: flex;
    padding: 4rem 10rem;
    .navs {
      display: flex;
      justify-content: center;
    }
  }
}

// footer======
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
