* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: #0d1a2d;
  color: aliceblue;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 30rem;
}

img {
  max-width: fit-content;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
