* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --width: 100%;
  --pad: 20px 2px;
}
main {
  background-color: #0d1a2d;
  color: aliceblue;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.card {
  width: 30rem;
  border: 1px solid yellow;
  padding: 25px;
  border-radius: 10px;
}

.img img {
  width: var(--width);
  background-image: cover;
}

h2 {
  padding: var(--pad);
}
p {
  padding: 10px 0;
}
.info {
  padding: 10px 0;
}
.avatar {
  width: 10%;
}

/* bottom  */
.attribution {
  font-size: 11px;
  text-align: center;
}
