* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --width: 100%;
}
main {
  background-color: #0d1a2d;
  color: aliceblue;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.card {
  width: 30rem;
  border: 1px solid yellow;
}

.img img {
  width: 100%;
  background-image: cover;
}

.avatar {
  width: var(--width);
}

/* bottom  */
.attribution {
  font-size: 11px;
  text-align: center;
}
