* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

// header
header {
  height: 100vh;

  .header-content {
    text-align: center;
  }
}

/* Footer  ===================*/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
