* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
// header=========
.header {
  min-height: 60vh;
  .navbar-btn {
    color: #fd63a9;
    border-color: #fd63a9;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 1.1rem;
  }

  .header-content {
    text-align: center;
    .header-content-heading {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
    }
    .header-content-param {
      font-family: "Open Sans", sans-serif;
      max-width: 525px;
      font-size: 1.1rem;
    }
    .header-content-btn {
      padding: 20px 40px;
      background-color: #fd53c0;
      color: #fff;
      font-weight: 600;
      border-radius: 29px;
    }
  }
}

/* Footer  ===================*/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
