* {
  margin: 0;
  padding: 0;
}

// header=========
.header {
  min-height: 60vh;

  .header-content {
    text-align: center;
  }
  .navbar-btn {
    color: #fd63a9;
    border-color: #fd63a9;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 1.1rem;
  }
}

/* Footer  ===================*/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
