* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#header {
  .navbar {
    display: flex;
    align-items: center;
    padding: 3rem 10rem;
    ul {
      display: flex;
      padding: 0 3rem;

      .nav-items .nav-links {
        text-decoration: none;
        margin: 0 1rem;
        color: rgba(0, 0, 0, 0.61);
        font-weight: 500;
        &:hover {
          color: #000;
        }
      }
    }
    .btn-group {
      display: block;
      margin: auto 0 auto auto;
    }
  }
}

// footer====
// ===============
// ==========
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
