* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Epilogue", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

#header {
  .navbar {
    display: flex;
    align-items: center;
    padding: 2rem 8rem;
    .nav {
      display: flex;
      align-items: center;
      padding: 0 3rem;

      .nav-items .nav-links {
        text-decoration: none;
        margin: 0 1rem;
        color: rgba(0, 0, 0, 0.61);
        font-weight: 500;
        // position: relative;
        &:hover {
          color: #000;
        }
      }
      .dropdown-menu {
        position: relative;
        display: inline-block;
        width: 150px;
        height: 200px;
        top: 91px;

        &:hover .dropdown-content {
          display: block;
        }
      }
      .dropdown {
        li {
          display: block;
          color: #000;
          background-color: #f9f9f9;
        }
        .dropdown-content {
          display: none;
          position: absolute;
          z-index: 1;
          color: rgb(255, 255, 255);
          min-width: 100px;
          height: auto;
          padding: 1rem;

          .dropdown-item {
            padding: 1rem 0;
          }
        }
      }
    }
    .arrow-icon {
      width: 10%;
      height: auto;
    }
    .btn-group {
      margin: auto 0 auto auto;

      .btn {
        outline: none;
        padding: 12px 1.1rem;
        background-color: #fff;
        cursor: pointer;
        font-size: 0.9rem;
        color: rgba(0, 0, 0, 0.61);
        &:hover {
          color: #000;
        }
      }
      .btn-login {
        border: none;
        &:hover {
          color: #000;
        }
      }
      .btn-register {
        border: 1px solid rgba(0, 0, 0, 0.527);
        border-radius: 10px;
        &:hover {
          border: 1px solid #000;

          background-color: rgb(0, 0, 0);
          color: rgb(255, 255, 255);
        }
      }
    }
  }

  .content {
    padding: 2rem 8rem 2rem 17rem;

    .row {
      display: flex;
      max-width: 100%;
      .col-md-6 {
        width: 50%;

        .head-line {
          font-size: 5.5rem;
          font-weight: 700;
          padding: 4rem 0;
        }
        .content-param {
          padding: 0 29% 2rem 0;
          line-height: 1.5;
          color: rgba(0, 0, 0, 0.548);
          font-size: 1.1rem;
        }

        .btn {
          padding: 15px 1.8rem;
          outline: none;
          border: none;
          font-size: 1rem;
          background-color: #000;
          color: #fff;
          border-radius: 12px;
          margin: 3rem 0;
          border: 1px solid #000;
          transition: 0.3s;
          cursor: pointer;
          &:hover {
            background-color: #fff;
            color: #000;
          }
        }

        .content-img {
          width: 70%;
          height: auto;
        }
        .collabs {
          display: flex;
          align-items: center;
          padding-top: 4rem;
          img {
            margin-right: 3rem;
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

// footer====
// ===============
// ==========
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
