* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#header {
  .navbar {
    display: flex;
    align-items: center;
    padding: 2rem 8rem;
    ul {
      display: flex;
      padding: 0 3rem;

      .nav-items .nav-links {
        text-decoration: none;
        margin: 0 1rem;
        color: rgba(0, 0, 0, 0.61);
        font-weight: 500;
        &:hover {
          color: #000;
        }
      }
    }
    .btn-group {
      margin: auto 0 auto auto;

      .btn {
        outline: none;
        padding: 12px 1.1rem;
        background-color: #fff;
        cursor: pointer;
        font-size: 0.9rem;
        color: rgba(0, 0, 0, 0.61);
        &:hover {
          color: #000;
        }
      }
      .btn-login {
        border: none;
      }
      .btn-register {
        border: 1px solid rgba(0, 0, 0, 0.527);
        border-radius: 10px;
        &:hover {
          border: 1px solid #000;
        }
      }
    }
  }

  .content {
    padding: 2rem 8rem 2rem 17rem;

    .row {
      display: flex;
      max-width: 100%;
      .col-md-6 {
        width: 50%;

        .head-line {
          font-size: 5.5rem;
          font-weight: 700;
          padding: 4rem 0;
        }
        .content-param {
          padding: 1rem 29% 2rem 0;
          line-height: 1.5;
        }

        .btn {
          padding: 15px 1.8rem;
        }

        img {
          width: 90%;
          height: auto;
        }
      }
    }
  }
}

// footer====
// ===============
// ==========
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
