* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}
.header {
  height: 87vh;
  .navbar {
    a {
      font-size: 1rem;
      color: black;
      text-decoration: none;
      font-weight: 400;
    }
  }
  .header__content-content {
    margin: auto;
    h1 {
      font-family: "Raleway", sans-serif;
      font-size: 2.5rem;
      line-height: 1.5;
      font-weight: 700;
    }
    p {
      font-family: "Raleway", sans-serif;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: normal;
    }
    input {
      padding-left: 15px;
      padding-right: 100px;
    }
  }
  .btn {
    padding: 10px 50px;
    background-color: #2f65f9;
    color: white;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.63);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.63);
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
