* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a .nav-link {
  color: black !important;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
