* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#header {
  margin: 0 10rem;
  nav {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
    .navbar-lists {
      display: flex;
      .nav-items {
        margin: 0 25px;
        list-style-type: none;
        .nav-links {
          color: #000;
          text-decoration: none;
        }
      }
    }
    .header-btn {
      outline: none;
      border: none;
      padding: 15px 30px;
      background-color: #000;
      color: #fff;
    }
  }
}
