@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}
.container {
  //   max-height: 100vh;
  //   background-color: #141519;
}
.card {
  height: 27rem;
  width: 26rem;
  color: #fff;
}

.review {
  background-color: #141519;
  height: 100vh;
  width: auto;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  .card {
    background-color: #212832;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 32px;

    i {
      padding: 1rem;
      color: #fc7613;
      margin: 0.5rem 0;
      border-radius: 30px;
      background-color: #2d3842;
    }
    h1 {
      font-size: 2rem;
      font-weight: 700;
      padding: 1rem 0;
    }
    p {
      color: #898f9b;
      line-height: 1.5;
      font-family: "Overpass", sans-serif;
    }
    ul {
      display: flex;
      margin: 1.3rem 0;

      li {
        background-color: #2d3842;
        list-style-type: none;
        border-radius: 30px;
        padding: 0.8rem 1.1rem;
        margin: 1rem 0.7rem;
        color: #7a828d;
        cursor: pointer;
        &:hover {
          color: #fff;
          background-color: #3b4957;
        }
      }
    }
    .btn {
      display: block;
      width: 100%;
      padding: 13px;
      background-color: #fc7613;

      outline: none;
      border: none;
      border-radius: 25px;
      margin: 1rem 0;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 700;
      cursor: pointer;
      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

// footer
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
