* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-main {
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  img {
    max-width: 100%;
  }

  .overlay {
    position: absolute;
  }
}
