@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  list-style: none;
  text-decoration: none;
}

// mixin======================
@mixin displayProp($para1) {
  display: flex;
  justify-content: center;
  flex-direction: $para1;
  align-items: center;
}

body {
  background-color: cyan;
}
// nav section=================
.nav {
  @include displayProp(row);
  flex-basis: auto;
  padding: 20px;
  background-color: rgb(34, 36, 34);
  .item {
    padding: 5px 30px;
  }
  .link-item {
    color: rgba(255, 255, 255, 0.877);
  }
}

// main content div============
main {
  height: 100vh;
  @include displayProp(column);
}

.img-main {
  width: 30rem;
  height: auto;
  @include displayProp(column);
  position: relative;
  img {
    max-width: 100%;
  }

  .overlay {
    @include displayProp(column);

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.767);
    opacity: 0;
    transition: all 0.5s;

    &:hover {
      opacity: 1;
    }

    h1 {
      padding: 10px;
      font-weight: 700;
      font-style: italic;
      font-size: 2.5rem;
    }
    p {
      padding: 15px;
      font-weight: 500;
    }
  }
}
