@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
}
@mixin displayProp($para1) {
  display: flex;
  justify-content: center;
  flex-direction: $para1;
  align-items: center;
}
main {
  height: 100vh;
  @include displayProp(column);
}
.img-main {
  width: 30rem;
  height: auto;
  @include displayProp(column);
  position: relative;
  img {
    max-width: 100%;
  }

  .overlay {
    @include displayProp(column);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);

    p {
      padding: 15px;
      font-weight: 500;
    }
  }
}
