* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin displayProp {
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img-main {
  width: 25rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  img {
    max-width: 100%;
  }

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
  }
}
