@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  list-style: none;
  text-decoration: none;
}

// mixin======================
@mixin displayProp($para1) {
  display: flex;
  justify-content: center;
  flex-direction: $para1;
  align-items: center;
}

body {
  background-color: cyan;
}
// nav section=================
.nav {
  @include displayProp(row);
  flex-basis: auto;
  padding: 20px;
  background-color: rgb(34, 36, 34);
  .item {
    padding: 5px 10px;
    margin: 0 20px;
  }
  .link-item {
    position: relative;
    // background-color: rgb(17, 0, 255);

    color: rgba(255, 255, 255, 0.877);

    &::after {
      content: "";
      position: absolute;
      height: 3px;
      width: 0%;
      left: 0;
      bottom: -10px;
      // background-color: violet;
      background-image: linear-gradient(to right, lime, yellow);
      transition: 0.3s;
    }
    &:hover::after {
      width: 100%;
      color: #fff;
    }
  }
}

// main content div============
main {
  height: 100vh;
  @include displayProp(column);
}

.img-main {
  width: 30rem;
  height: auto;
  @include displayProp(column);
  position: relative;
  img {
    max-width: 100%;
  }

  .overlay {
    @include displayProp(column);

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.767);
    opacity: 0;
    transition: all 0.5s;

    &:hover {
      opacity: 1;
    }

    h1 {
      padding: 10px;
      font-weight: 700;
      font-style: italic;
      font-size: 2.5rem;
    }
    p {
      padding: 15px;
      font-weight: 500;
    }
  }
}

.effect {
  min-height: 100vh;
  background-color: rgb(37, 35, 35);
  color: #fff;
  @include displayProp(row);
  .content {
    padding: 15px;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.562);
    position: relative;

    h1 {
      position: relative;
      z-index: 2222222;
    }

    &::before {
      content: "";
      height: 100px;
      width: 120%;
      left: -20px;
      background: linear-gradient(rgb(255, 46, 46), rgb(3, 236, 3));
      position: absolute;
      // z-index: 1 ;
      animation: animate 2s linear infinite;
    }
    @keyframes animate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    &::after {
      content: "";
      position: absolute;
      background-color: #000;
      border-radius: 10px;
    }
  }
}
