@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

@mixin header-text {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1;
}
header {
  background-image: url(../images/desktop/image-hero.jpg);
  background-size: cover;

  .header {
    background-color: rgba(0, 0, 0, 0.377);
    height: 100vh;
    position: relative;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
  }
  .header-content .h1 {
    color: #fff;
    overflow: hidden;
    border: 3px solid rgb(255, 255, 255);

    font-size: clamp(2.5rem, 5vw, 5rem);
    @include header-text;
  }

  //   .navbar-toggler {
  //     position: absolute;
  //     z-index: 111;
  //     fill: #fff;
  //     color: #fff;
  //   }
}
.nav-link {
  color: #fff;
  font-weight: 700;
  &:hover {
    transition: 0.5s;
    text-decoration: underline;
    //  text-decoration-color: rgb(255, 255, 255);
  }
}
// vr section =============
.vr-sec {
  position: relative;
  .vr-card {
    // border: 1px solid black;
    background-color: #fff;
    font-family: "Josefin Sans", sans-serif;
  }
  h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    line-height: 1;
    text-transform: uppercase;
    @include header-text;
  }
  p {
    padding-top: 30px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #767676;
  }
}
// Footer
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  font-weight: 300;
}

// creations==========
.our__creations {
  .our__creations--header {
    line-height: 1;
    color: #000;
    font-size: clamp(32px, 4vw, 48px);
    @include header-text;
  }
  .btn {
    letter-spacing: 6px;
  }
}

.content-gallery {
  .col-md-3 {
    position: relative;
    overflow: hidden;
    img {
      opacity: 1;
    }

    // .bg-shade {
    //   position: absolute;
    //   z-index: 100;
    //   top: 0;
    //   bottom: 0;
    //   background: linear-gradient(
    //     180deg,
    //     rgba(2, 0, 36, 0.39957990031950286) 0%,
    //     rgba(0, 0, 0, 0.26512611880689774) 56%,
    //     rgba(0, 0, 0, 1) 100%
    //   );
    // }

    h1 {
      position: absolute;
      z-index: 200;
      bottom: 7%;
      left: 15%;
      color: #fff;
      font-size: clamp(2rem, 4vw, 3rem);
      @include header-text;
    }

    &:hover {
      img {
        opacity: 0.3;
        cursor: pointer;
      }
      h1 {
        color: rgb(0, 0, 0);
      }
    }
  }
}

// Footer =-=======================

footer {
  background-color: #000;
  color: #fff;

  img {
    cursor: pointer;
  }
}

/*
===============
responsive===============
==================
*/
@media (min-width: 1400px) {
  .vr-card {
    // border: 1px solid black;
    position: absolute;
    width: 50%;
    padding: 60px 100px 0 100px;
    margin-left: 698px;
    margin-top: -325px;
  }
}
@media (max-width: 1399px) {
  .vr-sec {
    .vr-card {
      display: block;
      margin: auto;
      padding: 50px 5px 0 5px;
      .h1 {
        text-align: center;
      }
    }
  }
}
