body {
  padding: 20px;
}
.box1 {
  display: flex;
}
.title {
  font-size: 1rem;
}
.image1 {
  min-width: 50%;
}
.box2 {
  /* display: flex; */
  padding: 20px;
}
.section {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
}
.sectionbox {
  border: 1px solid black;
  padding: 10px;
  flex: grow shrink basis;
  flex: 1 1 250px;
}
