@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}

html {
  background-image: repeating-radial-gradient(circle at center center, transparent 0px, transparent 2px, rgba(0, 0, 0, 0.03) 2px, rgba(0, 0, 0, 0.03) 3px, transparent 3px, transparent 5px, rgba(0, 0, 0, 0.03) 5px, rgba(0, 0, 0, 0.03) 7px), repeating-radial-gradient(circle at center center, white 0px, white 9px, white 9px, white 21px, white 21px, white 31px, white 31px, white 40px);
  background-size: 20px 20px;
}

a {
  text-decoration: none;
  color: #000;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row .col-md-6 {
  max-width: 50%;
  height: auto;
}

.get-start .btn {
  padding: 15px 25px;
  outline: none;
  border: none;
  border-radius: 22px;
  background-color: #fc3b3b;
  cursor: pointer;
}

.get-start .btn a {
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4rem 13rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .navbar .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 2rem;
  position: relative;
}

header .navbar .nav .nav-item {
  margin: 0 1rem;
  justify-items: end;
  list-style-type: none;
}

header .navbar .nav .nav-item .nav-link {
  margin: 0 auto 0 auto;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.623);
}

header .navbar .nav .nav-item .nav-link:hover {
  color: #000;
}

header .navbar .bg-top-img {
  position: absolute;
  top: -161px;
  right: -39px;
  z-index: -1;
}

header .header-content {
  padding: 2rem 13rem;
}

header .header-content h1 {
  padding-top: 4rem;
  font-size: 4rem;
}

header .header-content p {
  font-size: 1rem;
  padding: 2rem 0;
  color: rgba(0, 0, 0, 0.527);
  line-height: 1.5;
}

header .header-content .btn {
  margin: 2rem 0;
}

#info {
  padding: 6rem 13rem;
}

#info h1 {
  font-size: 3rem;
  padding: 2rem 0;
}

#info p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.603);
}

#info .summery {
  margin: auto;
}

#info .info {
  padding: 2rem 0;
}

#info .info h3 {
  display: inline;
  font-size: 1.5rem;
  padding: 2rem 0;
}

#info .info span {
  font-size: 1.3rem;
  padding: 2rem 0;
  font-weight: 700;
  background-color: coral;
  color: #fff;
  padding: 7px 17px;
  margin: 0 2rem;
  border-radius: 20px;
}

#info .info p {
  padding: 1rem 0;
  margin-left: 8rem;
  font-size: 1.2rem;
  line-height: 1.7;
}

#comment {
  margin: 7rem 0;
}

#comment h1 {
  text-align: center;
  font-size: 3rem;
  padding: 4rem;
  margin: 2rem 0;
}

#comment .row {
  margin: 2rem 0;
}

#comment .card {
  background-color: rgba(139, 166, 167, 0.103);
  margin: 1rem;
  text-align: center;
  border-radius: 15px;
}

#comment .card img {
  max-width: 15%;
  min-width: 10%;
  height: auto;
  margin-top: -42px;
}

#comment .card h2 {
  font-size: 1.2rem;
  margin: 0.9rem;
}

#comment .card p {
  color: rgba(0, 0, 0, 0.548);
  padding: 0 4rem 2rem 4rem;
  padding-bottom: 4rem;
}

#comment .get-start {
  text-align: center;
}

#comment .get-start .btn:hover {
  background-color: #ff745c;
  color: #fff;
  box-shadow: 1px 50px 34px -47px rgba(0, 0, 0, 0.68);
  -webkit-box-shadow: 1px 50px 34px -47px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 1px 50px 34px -47px rgba(0, 0, 0, 0.68);
}

.team-work {
  padding: 4rem 12rem;
  background-color: rgba(255, 0, 0, 0.678);
  color: #fff;
}

.team-work .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-work .row h1 {
  font-size: 3rem;
}

.team-work .row .btn {
  margin: auto 0 auto auto;
  background-color: rgba(0, 0, 0, 0.185);
}

footer {
  background-color: #1e1e26;
  color: #fff;
  padding: 4rem 12rem;
}

footer input {
  outline: none;
  padding: 1rem;
  border: none;
  border-radius: 25px;
}

footer label {
  background-color: rgba(255, 0, 0, 0.678);
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  margin: 0 1rem;
}

footer p {
  padding-top: 6rem;
  padding-left: 1rem;
  color: rgba(255, 255, 255, 0.404);
}

footer h6 {
  color: #db3d3d;
  font-style: italic;
}

footer .icons {
  padding: 6rem 0;
}

footer .icons i {
  margin-right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

footer .icons .fa-facebook-f:hover {
  color: #9a9aff;
}

footer .icons .fa-youtube:hover {
  color: #ff1919;
}

footer .icons .fa-facebook-f:hover {
  color: #3d3dff;
}

footer .icons .fa-twitter:hover {
  color: #00aeff;
}

footer .icons .fa-pinterest:hover {
  color: #ff61f7;
}

footer .icons .fa-instagram:hover {
  color: #ff0055;
}

footer ul li {
  list-style-type: none;
  padding: 0.8rem 0;
}

footer ul li a {
  color: #fff;
}

footer ul li a:hover {
  color: #ff6464;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */