* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #d5e1ef;
}

.card {
  width: 25rem;
  margin: 5rem auto;
  background-color: #fff;
  padding: 15px;
}

img {
  width: 100%;
}
