* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #d5e1ef;
  padding: 100px;
  height: 100vh;
}

.card {
  width: 25rem;
  margin: auto;
  background-color: #fff;
  padding: 15px;
}

img {
  width: 100%;
}
