* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$ header {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: cyan;
  justify-content: center;
  align-items: center;
  .test {
    font-family: "Courier New", Courier, monospace;
    font-size: 2rem;
    font-weight: 900;

    &:hover {
      color: blueviolet;
    }
  }
}
