* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: radial-gradient(
      circle 5px at top left,
      rgb(255, 255, 255) 0%,
      rgb(54, 54, 54) 50%,
      rgb(9, 9, 9) 50%,
      rgb(0, 0, 0) 30%,
      transparent 30%,
      transparent 50%
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
  background-size: 11px 11px;
  font-family: "Roboto", sans-serif;
}
img {
  width: 15%;
  height: 15%;
  min-width: 10%;
  min-height: 10%;
}
.container {
  background-color: #fff;
  margin: 5% 25%;
  padding: 1.5rem;
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  box-shadow: 0px 0px 27px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 27px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 27px -4px rgba(0, 0, 0, 0.75);
}
.interaction {
  display: flex;
  /* flex-wrap: nowrap; */
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  padding: 10px 2px;
  margin: 0.8rem;
  background-color: #eef1ff;
  color: #5358b7;
  border-radius: 1rem;
  /* border: 1px solid black; */
}
.interaction i {
  opacity: 50%;
  padding: 5px 10px;
  cursor: pointer;
}
.interaction i:hover {
  opacity: 100%;
  color: #2b2f80;
}

.for-mobile {
  display: flex;
}
.top {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.name {
  padding: 1rem;
  font-weight: 700;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
.time {
  padding: 1rem;
  font-size: 0.9em;
  opacity: 50%;
  font-style: italic;
}
.interaction span {
  font-weight: 700;
  font-size: 1.2rem;
}

/* i moved a item to the right align  */
.reply-btn {
  margin: 0 0 0 auto;
  color: #5358b7;
  cursor: pointer;
}

.reply {
  font-family: "Roboto", sans-serif;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.reply-btn i {
  font-weight: 600;
}

/* ::before sudo elements  */
.reply-btn:hover::before {
  content: attr(data-content);
  color: rgb(0, 0, 0);
  background-color: rgb(251, 255, 0);
}

.comment-bottom p {
  padding-bottom: 1rem;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  color: #697174;
}

/* responsive design ============== */

@media (max-width: 1400px) {
  .container {
    margin: 3% 20%;
  }
}
@media (max-width: 992px) {
  .container {
    margin: 3% 10%;
  }
}
@media (max-width: 768px) {
  .container {
    margin: 3% 5%;
  }
}
@media (max-width: 576px) {
  .container {
    position: relative;
    padding: 2rem;
  }

  .reply-btn {
    /* align-self: flex-end; */
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    margin: 0.8rem;
  }
  .interaction {
    display: inline-block;
    position: absolute;
    bottom: 0;
  }
  .interaction i {
    padding: 5px 10px;
  }
  .comment-bottom {
    padding-bottom: 2rem;
  }
}
/*
// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }
*/
