/* html {
  background-color: rgb(0, 0, 0);
  color: #fff;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* tags  */
body {
  /* height: 5000px; */
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@font-face {
  font-family: Ubuntu; /*i can give it any names, it will always work but i have to alert for using it on other places(then name should be same as font-face name)*/
  src: url(../Fonts/Ubuntu-Medium.ttf);
}
h1 {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  padding: 15px;
  color: rgb(0, 230, 230);
}
p {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  padding: 15px;
}
main {
  padding: 30px 50px;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(34, 107, 0);
  background-image: repeating-linear-gradient(
      135deg,
      rgb(255, 255, 255) 0px,
      rgb(255, 255, 255) 10px,
      transparent 10px,
      transparent 11px
    ),
    repeating-linear-gradient(
      22.5deg,
      rgb(255, 255, 255) 0px,
      rgb(255, 255, 255) 10px,
      transparent 10px,
      transparent 11px
    ),
    linear-gradient(
      90deg,
      rgb(18, 12, 12),
      rgb(3, 3, 3),
      rgb(28, 15, 20),
      rgb(53, 8, 8),
      rgb(34, 17, 17)
    );
  background-image: url(../images/images.jpeg);
  background-repeat: no-repeat;
  background-position: center bottom;
  /* background-size: cover; */
  /* background-attachment: fixed; */
  /* background-origin: padding-box; */
}
footer button a {
  background-color: rgb(255, 0, 0);
  padding: 15px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 40% 40% 0 0;
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
}

/* classes  */
nav .ul {
  padding: 30px 50px;
  background-color: rgb(37, 42, 97);
  text-align: center;
}

/* .logo {
  max-width: 60px;
  padding: 5px 15px;
} */

.list-item {
  list-style-type: none;
  font-family: Ubuntu;
  font-size: 20px;
  display: inline-block;
  white-space: normal;
  transition: 1s all;
}

.link {
  text-decoration: none;
  color: #fff;
  padding: 5px 15px;
  display: inline-block;
  border-radius: 10px;
}

.link:hover {
  background-color: rgb(255, 239, 11);
  color: black;
  /* text-decoration: underline; */
}

.active {
  text-align: right; /*doesn't worked*/
  /* position: relative;
  right: 0; */
}

.content {
  width: 800px;
  height: 800px;
  border: 2px solid black;
  overflow: auto;
  margin: auto;
  position: relative;
}

.content h1 {
  text-align: center;
  background-color: rgb(255, 238, 0);
  position: sticky;
  top: 0;
}
