* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
Header {
  height: 100vh;
  background-color: #2d2e32;
  padding: 2rem 10rem;
  color: #fff;

  nav ul {
    list-style-type: none;

    li {
      a {
        text-decoration: none;
        color: #fff;
        display: flex;
        margin: 10px;
        font-family: "Courier New", Courier, monospace;
        font-size: 1.1rem;
      }
      .navbar-brand {
        font-weight: bold;
        font-size: 1.7rem;
      }
    }
    .social {
      display: flex;
      justify-content: end;
    }
  }
}
