* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 97vh;
  width: 100vw;
  background-color: #f2e9e2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: #fff;
  color: black;
  display: flex;
  width: 40rem;
  height: 40rem;
  border-radius: 8px;
}
.img img {
  background-image: url(./images/image-product-desktop.jpg);
}
/* Footer  */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
