* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2e9e2;
}
.main {
  height: 100vh;
  width: 100vw;
}
.card {
  background-color: #fff;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
}
/* .image {
  max-width: 50%;
} */
/* Footer  */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
