@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  background-color: #edf2f8;
  min-height: 98vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .card {
  font-family: "Barlow Semi Condensed", sans-serif;
  max-width: 75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .card h3 {
  font-weight: 600;
  padding: 10px 0;
  font-size: 1.2rem;
}

main .card p {
  font-size: 13px;
  color: #939da9;
}

main .card .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .card .heading .pro_pic {
  border: 2px solid white;
  border-radius: 50%;
}

main .card .heading .name-edu {
  padding: 0 5px;
}

main .card .heading .name-edu .name {
  font-size: 1rem;
  font-weight: 600;
}

main .card .heading .name-edu .edu {
  font-weight: 500;
  font-size: 13px;
}

main .card .common-code {
  padding: 30px;
  border-radius: 10px;
}

main .card .first_sec {
  max-width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .card .first_sec .first__sec--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .card .first_sec .first__sec--top .card__one-two {
  background-color: #733fc8;
  color: #ffffff;
  margin: 15px;
}

main .card .first_sec .first__sec--top .card__three {
  background-color: #495669;
  color: #ffffff;
  margin: 15px;
}

main .card .first_sec .first__sec--bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .card .first_sec .first__sec--bottom .card__five {
  background-color: #18202d;
  margin: 15px;
  color: #ffffff;
}

main .card .first_sec .first__sec--bottom .card__four-eight {
  background-color: #ffffff;
  margin: 15px;
  width: 100%;
}

main .card .second_sec {
  max-width: 22%;
  padding: 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

main .card .second_sec .card__six-seven {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  color: #404b5d;
}

main .card img {
  width: 35px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (max-width: 1199px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card .second_sec {
    min-width: 70%;
  }
  .card h3 {
    font-weight: 600;
    padding: 10px 0;
    font-size: 1.2rem;
  }
  .card p {
    font-size: 13px;
    color: #939da9;
  }
  .card .heading .name-edu {
    padding: 0 10px;
  }
  .card .heading .name-edu .name {
    font-size: 0.9rem;
    font-weight: 600;
  }
  .card .heading .name-edu .edu {
    font-size: 10px;
  }
}

@media (max-width: 668px) {
  .card .firs_sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card .second_sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */