* {
  margin: 0;
  padding: 0;
}

.main {
  background-image: url(./image/Bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: auto;
}

.nav-link {
  color: rgb(255, 255, 255);
}

.nav-item {
  padding: 15px 30px;
  border: 1px solid linear-gradient(to right white, black);
}
