* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  height: 98vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  max-width: 63rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  border-radius: 10px;
}

.card .card_one {
  background-color: #e28525;
  padding: 50px;
}

.card .card_one button {
  color: #e28525;
}

.card .card_two {
  background-color: #016972;
  padding: 50px;
}

.card .card_two button {
  color: #016972;
}

.card .card_three {
  background-color: #00403f;
  padding: 50px;
}

.card .card_three button {
  color: #00403f;
}

.card .heading {
  padding: 20px 0;
  font-size: 2.5rem;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
}

.card p {
  padding: 15px 0;
  font-weight: 400;
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.95rem;
}

.card button {
  margin: 30px 0 10px 0;
  padding: 15px 30px;
  border: 2px solid white;
  border-radius: 30px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 0.9rem;
  font-weight: 700;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.card button:hover, .card button:focus {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (max-width: 1440px) {
  .card {
    max-width: 50rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 888px) {
  .card {
    max-width: 30rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 540px) {
  .card {
    max-width: 25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 450px) {
  .card {
    max-width: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 15px;
  }
}
/*# sourceMappingURL=main.css.map */